Docker/django/.env
Docker/mariadb/.env
Docker/mariadb/sql
Docker/mariadb/data
src/app/__pycache__
node_modules
mariadb
static
src/service/__pycache__
src/service/migrations
src/warnings.log
.env
*.json
sotuken_dev.session.sql
.vscode
*.txt
